version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:80
    volumes:
      - ./taskbox:/var/www/html
    depends_on:
      - db
      - phpmyadmin

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 18120113
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: 18120113
    ports:
      - 8080:80

volumes:
  db_data:
